<div class="wrapper">
        <h2>
                <span class="rotten">Rotten Bookshelf - forgive me Tolkien, it's not you, it's me</span>
        </h2>
        <div>
                <span class="title">{{ title }}</span>
                <br><br>
                <span>---</span>
                <br><br>
                <span class="authors">{{ authors.name? authors.name : 'No author available' }}</span>
                <br><br>
                <span>---</span>
                <br><br>
                <img class="resize" src="{{ cover }}" alt="">
                <br><br>
                <span class="description">{{ description }}</span>
        </div>
</div>